@import "../../../Variables/variables.scss";

.Kontakt_CardsFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  height: auto;
  margin: 10vh auto;

  .Kontakt_card {
    width: 20em;
    height: 26em;
    margin: 4vh;
    background-color: $Anti-flash-white;
    text-align: center;

    @media screen and (max-width: 430px) {
      margin: 2vh auto;
    }

    .Profilebillde {
      width: 100%;
      height: auto;
    }

    .Memberlist_stilling {
      margin: 0.5vh 0vh;
    }

    .Memberlist_name {
      font-weight: bold;
      margin: 1vh 0vh 0vh 0vh;
    }
  }
}
