.HjemCards_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin: 10vh auto;
}
.HjemCards_flex .Cards_box {
  width: 20em;
  height: 24em;
  margin: 2vh;
  background-color: #F0F0F0;
  text-align: center;
}
.HjemCards_flex .Cards_box .Home_cardsIMG {
  width: 100%;
}
.HjemCards_flex .Cards_box .homeCards_heading {
  margin: 2vh;
}
.HjemCards_flex .Cards_box .homeCards_text {
  margin: 0vh 2vh;
  padding-bottom: 4vh;
}