.Slider_text {
  position: absolute;
  z-index: 1;
  color: #ffff;
  text-align: center;
  width: 100%;
  min-height: 24.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #69809cb2;
}
.Slider_text .Slider_heading {
  font-size: 3em;
}
.Slider_text .Slider_VelkommenText {
  margin: 3vh 0vh;
  font-size: 1.5em;
}
.Slider_text .Slider_btn {
  width: 10em;
  height: 2em;
  font-size: larger;
  background-color: #393939;
  color: #ffff;
  cursor: pointer;
}
.Slider_text .Slider_btn:hover {
  background-color: #ffff;
  color: #000;
}

.Slider {
  position: relative;
  width: 100%;
}